services:
  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=postgres
      - DB_USER=ecommerce
      - DB_PASSWORD=Pg1234
      - DB_NAME=ecommerce
      - DB_PORT=5432
      - FLASK_APP=index.py
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - app-network

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=ecommerce
      - POSTGRES_PASSWORD=Pg1234
      - POSTGRES_DB=ecommerce
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres_exporter
    ports:
      - "9187:9187"
    environment:
      - DATA_SOURCE_URI="postegres:5432/ecommerce?sslmode=disable"
      - DATA_SOURCE_USER=ecommerce
      - DATA_SOURCE_PASS=Pg1234
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
